.side-menu {
  width: 16rem;
  background-color: #f8f8f8;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 100;
  margin: 0;
  box-shadow: 0 0 3px #ccc;
  transition: 0.3s;
  .toggle-menu-icon {
    color: #6637e9;
    padding-top: 0.8rem;
    padding-left: 1.6rem;
    font-size: 1.2rem;
    display: block;
    cursor: pointer;
  }
  &.menu-hidden {
    width: 4rem;
  }
  &_menu {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  &_item {
    width: 100%;
    padding: 0.8rem;
    padding-left: 1.6rem;
    color: #000;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    &.active {
      background-color: rgba(0, 0, 0, 0.13);
      border-left: 4px solid #6637e9;
    }
    &-icon {
      margin-right: 0.8rem;
      color: #6637e9;
    }
  }
}

.show-menu-icon {
  color: #6637e9;
  top: 0.8rem;
  left: 1.6rem;
  font-size: 1.2rem;
  position: fixed;
  z-index: 999;
  cursor: pointer;
}
